<div class="master-dialog-vh">
  <H5 style="color:cadetblue">Appointment Information</H5>
  <div class="child-container">
    <div class="center-content">
      <div *ngIf="InfoValue">
        <app-appointment-info-dialog [InfoValue]="InfoValue" (SubmitOrCancel)="onInfoComplate($event)">
        </app-appointment-info-dialog>
      </div>
    </div>
    <div class="right-content">
      <button mat-mini-fab color="primary" (click)="onSelectedClick()" matTooltip="primary"
              [disabled]="(!getValue && !getValues)">
        <mat-icon>done</mat-icon>
      </button>
      <hr />
      <button mat-mini-fab color="warn" (click)="onCancelClick()"
              matTooltip="close dialog">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
</div>
