@import "../../shared/styles/table.style.scss";

/*.mat-column-NoTaskMachineCode {
  flex: 0 0 125px;
}
.mat-column-AssignedByString, .mat-column-Command {
  flex: 0 0 150px !important;
}*/

/*.mat-column-Command {
  width: 150px;
  max-width: 150px !important;
}

.mat-column-Communicate {
  width: 250px;
  max-width: 250px;
}*/

table {
  overflow: auto;
  width: 100%;
}

