@import "../../shared/styles/table.style.scss";

/*.mat-column-NoTaskMachineCode {
  flex: 0 0 125px;
}
.mat-column-AssignedByString, .mat-column-Command {
  flex: 0 0 150px !important;
}*/

/*.mat-column-Volumes,
.mat-column-TotalTime {
  max-width: 75px;
}

.mat-column-Uom {
  max-width: 100px;
}*/


/*table {
  overflow: auto;
  width: 100%;
}*/
